@import '../../css/common/reset.scss';
//相对于设计稿缩放比例
$x :1.5;
$backgroundBaseDir : '../../images/home/';
$blue : #0cb9f3;
$borderColor : #e3e3e3;

.user-information{
	.info-list{
		.item{
			background: #fff;
			margin-top: 10px;
			border: 1px solid $borderColor;
			p{
				font-size: 14px;
				line-height: 16px;
				padding: 0px 10px 10px 10px;
				color: #8e8e8e;
			}
			.base-info{
				overflow: hidden;
				color: #3d4145;
				padding: 12px 10px;
				.name{
					float: left;
				}
				.mobile{
					float: right;
				}
			}
			.action{
				padding: 10px;
				border-top: 1px solid $borderColor;
				.set-default{
					color: #8e8e8e;
					font-size: 14px;
					&:before{
						content:'';
						display: inline-block;
						width: 14px;
						height: 14px;
						border-radius: 18px;
						border: 2px solid #666;
						margin-right: 5px;
						position: relative;
						top: 4px;
					}
					&.default{
						&:before{
							content:'\e608';
					        font-family: "iconfont-sm" !important;
					        font-size:12px;
					        color: #fff;
					        background: $blue;
					        border-color: $blue;
					        top: -1px;
					        line-height: 16px;
						}
					}
				}
				.edit{
					float: right;
					color: #8e8e8e;
					font-size: 14px;
					margin-right: 10px;
					margin-top: 2px;
					&:before{
						content:'';
						display: inline-block;
						width: 14px;
						height: 14px;
						background: url(#{$backgroundBaseDir}icons-information.png) no-repeat;
						background-size: 100% auto;
						position: relative;
						top: 2px;
						margin-right: 4px;
					}
				}
				.del{
					float: right;
					color: #8e8e8e;
					font-size: 14px;
					margin-top: 2px;
					&:before{
						content:'';
						display: inline-block;
						width: 14px;
						height: 14px;
						background: url(#{$backgroundBaseDir}icons-information.png) no-repeat;
						background-size: 100% auto;
						position: relative;
						top: 2px;
						margin-right: 4px;
						background-position: 0 -20px;
					}

				}
			}

		}
	}
	.addInformation-btn{
		width: 80%;
		height: 40px;
		line-height: 40px;
		display: block;
		margin: 10px auto;
		text-align: center;
		font-size: 16px;
		color: #fff;
		background: $blue;
		border-radius: 6px;
		display: block;
	}
	.hidden{
		display: none;
	}
}


.add-information{
	margin: 15px 0;
	ul{
		border: 1px solid $borderColor;
		background: #fff;
		li{
			padding: 10px;
			border-bottom: 1px solid $borderColor;
			font-size: 14px;
			position: relative;
			padding-left: 100px;
			span{
				display: block;
				width: 100px;
				line-height: 20px;
				padding: 10px;
				position: absolute;
				top: 2px;
				left: 0;
				em{
					color: #ff3333;
				}
			}
			input,.certType-btn{
				display: block;
				width: 90%;
				border: 0;
				line-height: 20px;
			}
			.certType-btn{
				color: #999;
			}
			.certType-hover{
				color: #333;
			}
		}
		li:last-of-type{
			border-bottom: 0;
		}
	}
	.save-btn{
		width: 80%;
		height: 40px;
		line-height: 40px;
		display: block;
		margin: 10px auto;
		text-align: center;
		font-size: 16px;
		color: #fff;
		background: $blue;
		border-radius: 6px;
	}
}

.popup-certType{
	.modal-title{
		text-align: left;
		color: $blue;
		font-size: 16px;
	}
	.modal-buttons-vertical .modal-button{
		text-align: left;
		padding-left: 16px;
		color: #333;
		font-size: 14px;
	}
}